<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Revue : Irc logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="js/revue_app.js"></script>
  </head>
  <body ng-app="revue">
  <div class="container">
    <h1>Revue :: Irc logs</h1>
    <div ng-controller="LogsController">
      <input class="form-control" placeholder="...." type="text" ng-model="filterRq">
      </br>
      <div ng-repeat="log in logs | filter:filterRq" class="panel panel-default">
        <div class="panel-heading">The {{log.time}}</div>
        <div class="panel-body">
          <p>Call : {{log.nickl}}</p>
          <p>Distance : {{log.message}} kms</p>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
